Repository Blackdeathanton/gatorexchange, pull requests merged in 2022-02, with the labels that each got.

#12 Added sidebar component
  front-end/src/App.js
  front-end/src/components/AllQuestionsView/AllQuestions.js
  front-end/src/components/AllQuestionsView/QuestionCard.js
  front-end/src/components/AllQuestionsView/css/AllQuestions.css
  front-end/src/components/AllQuestionsView/css/QuestionCard.css
  front-end/src/components/AllQuestionsView/css/index.css
  front-end/src/components/AllQuestionsView/index.js
  front-end/src/components/Sidebar/Sidebar.css
  front-end/src/components/Sidebar/Sidebar.js
Labels: front end

#15 Added a page to view a question and its answers
  front-end/.gitignore
  front-end/src/App.js
  front-end/src/components/AllQuestionsView/QuestionCard.js
  front-end/src/components/QuestionView/MainQuestion.js
  front-end/src/components/QuestionView/index.css
Labels: front end

#16 Included sidebar in view question page
  front-end/src/App.js
  front-end/src/components/QuestionView/MainQuestion.js
  front-end/src/components/QuestionView/index.css
  front-end/src/components/QuestionView/index.js
Labels: front end

#18 React app
  front-end/.gitignore
  front-end/README.md
  front-end/package-lock.json
  front-end/package.json
  front-end/public/favicon.ico
  front-end/public/index.html
  front-end/public/manifest.json
  front-end/public/robots.txt
  front-end/src/App.js
  front-end/src/components/AllQuestionsView/AllQuestions.js
  front-end/src/components/AllQuestionsView/QuestionCard.js
  front-end/src/components/AllQuestionsView/css/AllQuestions.css
  front-end/src/components/AllQuestionsView/css/QuestionCard.css
  front-end/src/components/AllQuestionsView/css/index.css
  front-end/src/components/AllQuestionsView/index.js
  front-end/src/components/Appbar/Appbar.js
  front-end/src/components/Appbar/css/Appbar.css
  front-end/src/components/Appbar/img/gator.png
  front-end/src/components/AskQuestion/AskQuestion.css
  front-end/src/components/AskQuestion/AskQuestion.js
  front-end/src/components/QuestionView/MainQuestion.js
  front-end/src/components/QuestionView/index.css
  front-end/src/components/QuestionView/index.js
  front-end/src/components/Sidebar/Sidebar.css
  front-end/src/components/Sidebar/Sidebar.js
  front-end/src/index.css
  front-end/src/index.js
Labels: front end, sprint 1

#31 Integration - Add question POST request
  front-end/package-lock.json
  front-end/package.json
  front-end/src/components/AskQuestion/AskQuestion.js
Labels: front end, sprint 2, Integration
