Repository Blackdeathanton/gatorexchange, pull requests merged in 2022-04, with the labels that each got.

#60 Patch tags page
  front-end/src/App.js
  front-end/src/components/AllQuestionsView/index.js
  front-end/src/components/QuestionView/MainQuestion.js
  front-end/src/components/Sidebar/Sidebar.js
  front-end/src/components/Tags/index.css
  front-end/src/components/Tags/index.js
Labels: front end, Integration, sprint 3

#63 UI fixes in tags page
  front-end/src/components/Tags/index.css
  front-end/src/components/Tags/index.js
Labels: front end, sprint 3

#64 Patch tagged questions all questions page
  front-end/src/components/AllQuestionsView/QuestionCard.js
Labels: front end, Integration, sprint 3

#66 User authentication branch
  front-end/package-lock.json
  front-end/package.json
  front-end/src/App.js
  front-end/src/app/store.js
  front-end/src/components/AllQuestionsView/AllQuestions.js
  front-end/src/components/AllQuestionsView/QuestionCard.js
  front-end/src/components/Appbar/Appbar.js
  front-end/src/components/Appbar/css/Appbar.css
  front-end/src/components/AskQuestion/AskQuestion.js
  front-end/src/components/Auth/index.css
  front-end/src/components/Auth/index.js
  front-end/src/components/QuestionView/MainQuestion.js
  front-end/src/features/userSlice.js
  front-end/src/index.js
  front-end/src/serviceWorker.js
  front-end/src/setupTests.js
Labels: front end, Integration, sprint 3

#69 Fixed token issue in upvote and downvote
  front-end/src/components/Auth/index.js
  front-end/src/components/QuestionView/MainQuestion.js
Labels: bug, front end, sprint 3

#70 Patch cypress tests for sprint3 features
  front-end/cypress/integration/component-tests/allquestionsview-test.spec.js
  front-end/cypress/integration/component-tests/api-request-response-test.spec.js
  front-end/cypress/integration/component-tests/appbar-test.spec.js
  front-end/cypress/integration/component-tests/askquestion-test.spec.js
  front-end/cypress/integration/component-tests/questionview-test.spec.js
  front-end/cypress/integration/component-tests/sidebar-test.spec.js
  front-end/cypress/integration/component-tests/tags-test.spec.js
  front-end/cypress/integration/component-tests/userlogin-test.spec.js
  front-end/package-lock.json
  front-end/package.json
  front-end/src/components/AskQuestion/AskQuestion.js
  front-end/src/components/Auth/index.js
Labels: front end, testing, sprint 3

#71 Functionalities added for Sprint 3 in Backend
  backend/go.mod
  backend/go.sum
  backend/src/config/env.go
  backend/src/config/middleware.go
  backend/src/config/tokenhelper.go
  backend/src/controllers/answers.go
  backend/src/controllers/questions.go
  backend/src/controllers/search.go
  backend/src/controllers/tags.go
  backend/src/controllers/users.go
  backend/src/models/models.go
  backend/src/routes/routes.go
Labels: backend, sprint 3

#73 Tests written for functionalities implemented in Sprint 3
  backend/src/models/response.go
  backend/tests/answers_test.go
  backend/tests/questions_test.go
Labels: backend, sprint 3

#72 Patch add unit tests
  front-end/.eslintrc
  front-end/babel.config.js
  front-end/jest.config.js
  front-end/jest/styleMock.js
  front-end/package-lock.json
  front-end/package.json
  front-end/src/__test__/QuestionCard.test.js
  front-end/yarn.lock
Labels: front end, testing, sprint 3

#75 Filter questions branch
  front-end/src/App.js
  front-end/src/components/AllQuestionsView/AllQuestions.js
  front-end/src/components/AllQuestionsView/QuestionCard.js
  front-end/src/components/AllQuestionsView/css/AllQuestions.css
  front-end/src/components/AllQuestionsView/index.js
  front-end/src/components/Tags/index.js
Labels: front end, Integration, sprint 3

#76 Sprint 3
  front-end/.eslintrc
  front-end/babel.config.js
  front-end/cypress/integration/component-tests/allquestionsview-test.spec.js
  front-end/cypress/integration/component-tests/api-request-response-test.spec.js
  front-end/cypress/integration/component-tests/appbar-test.spec.js
  front-end/cypress/integration/component-tests/askquestion-test.spec.js
  front-end/cypress/integration/component-tests/questionview-test.spec.js
  front-end/cypress/integration/component-tests/sidebar-test.spec.js
  front-end/cypress/integration/component-tests/tags-test.spec.js
  front-end/cypress/integration/component-tests/userlogin-test.spec.js
  front-end/jest.config.js
  front-end/jest/styleMock.js
  front-end/package-lock.json
  front-end/package.json
  front-end/src/App.js
  front-end/src/__test__/QuestionCard.test.js
  front-end/src/app/store.js
  front-end/src/components/AllQuestionsView/AllQuestions.js
  front-end/src/components/AllQuestionsView/QuestionCard.js
  front-end/src/components/AllQuestionsView/css/AllQuestions.css
  front-end/src/components/AllQuestionsView/index.js
  front-end/src/components/Appbar/Appbar.js
  front-end/src/components/Appbar/css/Appbar.css
  front-end/src/components/AskQuestion/AskQuestion.js
  front-end/src/components/Auth/index.css
  front-end/src/components/Auth/index.js
  front-end/src/components/QuestionView/MainQuestion.js
  front-end/src/components/QuestionView/index.css
  front-end/src/components/Sidebar/Sidebar.js
  front-end/src/components/Tags/index.css
  front-end/src/components/Tags/index.js
  front-end/src/features/userSlice.js
  front-end/src/index.js
  front-end/src/serviceWorker.js
  front-end/src/setupTests.js
  front-end/yarn.lock
Labels: front end, sprint 3

#77 Removed projection criteria from question apis
  backend/src/controllers/questions.go
  backend/src/controllers/search.go
Labels: backend, sprint 3

#85 Patch edit delete questions
  front-end/src/components/AskQuestion/AskQuestion.js
  front-end/src/components/QuestionView/MainQuestion.js
  front-end/src/components/QuestionView/index.css
Labels: enhancement, front end, sprint 4

#87 Patch edit delete answers
  front-end/src/App.js
  front-end/src/components/AskQuestion/AskQuestion.js
  front-end/src/components/QuestionView/MainQuestion.js
  front-end/src/components/QuestionView/index.css
Labels: enhancement, front end, sprint 4

#91 Patch user profile page
  front-end/src/App.js
  front-end/src/components/AllQuestionsView/QuestionCard.js
  front-end/src/components/Appbar/Appbar.js
  front-end/src/components/AskQuestion/AskQuestion.js
  front-end/src/components/Auth/index.js
  front-end/src/components/UserProfile/css/index.css
  front-end/src/components/UserProfile/index.js
Labels: front end, Integration, sprint 4

#96 React app merge into master - sprint 4
  front-end/src/App.js
  front-end/src/components/AllQuestionsView/AllQuestions.js
  front-end/src/components/AllQuestionsView/QuestionCard.js
  front-end/src/components/AllQuestionsView/index.js
  front-end/src/components/Appbar/Appbar.js
  front-end/src/components/AskQuestion/AskQuestion.js
  front-end/src/components/Auth/index.js
  front-end/src/components/QuestionView/MainQuestion.js
  front-end/src/components/QuestionView/index.css
  front-end/src/components/UserProfile/css/index.css
  front-end/src/components/UserProfile/index.js
Labels: front end, sprint 4

#93 Bugfix vote count in question card - all questions view page
  front-end/src/components/AllQuestionsView/QuestionCard.js
Labels: bug, front end, sprint 4

#94 Backend v4
  backend/src/controllers/questions.go
  backend/src/controllers/search.go
  backend/src/controllers/users.go
  backend/src/routes/routes.go
Labels: backend, sprint 4

#97 Added API to delete comments and implemented few fixes
  backend/src/controllers/answers.go
  backend/src/controllers/comments.go
  backend/src/routes/routes.go
Labels: backend, sprint 4

#100 Cypress tests - sprint4
  front-end/cypress/integration/component-tests/allquestionsview-test.spec.js
  front-end/cypress/integration/component-tests/askquestion-test.spec.js
  front-end/cypress/integration/component-tests/questionview-test.spec.js
  front-end/cypress/integration/component-tests/userprofile-test.spec.js
  front-end/src/App.js
  front-end/src/components/Appbar/Appbar.js
  front-end/src/components/AskQuestion/AskQuestion.js
  front-end/src/components/QuestionView/MainQuestion.js
Labels: front end, testing, sprint 4

#101 React app
  front-end/cypress/integration/component-tests/allquestionsview-test.spec.js
  front-end/cypress/integration/component-tests/askquestion-test.spec.js
  front-end/cypress/integration/component-tests/questionview-test.spec.js
  front-end/cypress/integration/component-tests/userprofile-test.spec.js
  front-end/src/App.js
  front-end/src/components/AllQuestionsView/QuestionCard.js
  front-end/src/components/Appbar/Appbar.js
  front-end/src/components/AskQuestion/AskQuestion.js
  front-end/src/components/QuestionView/MainQuestion.js
Labels: front end, Integration, sprint 4

#102 Adding Image Resources for backend Wiki
  resources/images/backend/[DELETE]_DeleteCommentById_II_Error_Response.gif
  resources/images/backend/[DELETE]_DeleteCommentById_II_Success_Response.gif
  resources/images/backend/[DELETE]_DeleteCommentById_I_Error_Response.gif
  resources/images/backend/[DELETE]_DeleteCommentById_I_Success_Response.gif
  resources/images/backend/[GET]_GetUserData.gif
Labels: backend, sprint 4
